<div class=flash-message>
	<% if flash[:notice] %>
		<p><%= flash[:notice] %></p>
	<% end %>
</div>

<div class="container">
	<div class="row">
		<%= render 'books/list', books: @books %>
		<div class="mybooks col-xs-9">
			<h2>Book detail</h2>
			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size:'50x50' %></td>
						<td><%= @book.title %></td>
						<td><%= @book.body %></td>
						<% if @user == current_user %>
						<td><%= link_to "Edit", edit_book_path(@book), class: " btn-sm btn-success edit_user_#{@book.id}" %></td>
						<td><%= link_to "Destroy", book_path(@book), class: "btn-sm btn-danger destroy_#{@book.id}", method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
