<!DOCTYPE html>
<html>
  <head>
    <title>BookersLevel2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar-top navbar-inverse">
      <div class="container clearfix">
        <nav class="nav navbar-nav navbar-left">
          <span>Bookers</span>
        </nav>
        <nav class="nav-list">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li>
                <%= link_to user_path do %>
                <p class="glyphicon glyphicon-home home">
                Home</p>
                <% end %>
              </li>
              <li>
                <%= link_to user_path do %>
                  <p class="glyphicon glyphicon-home home">
                    Users
                  </p>
                <% end %>
              </li>
              <li>
                <%= link_to user_path do %>
                <p class="glyphicon glyphicon-home home">
                  Books
                </p>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <p class="glyphicon glyphicon-home home">
                    logout
                  </p>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to root_path do %>
                <p class="glyphicon glyphicon-home home"  aria-hidden="true">
                  Home
                </p>
                <% end %>
              </li>
              <li>
                <%= link_to home_about_path do %>
                <p class="glyphicon glyphicon-link" aria-hidden="true">
                  About
                </p>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path do %>
                <p class="glyphicon glyphicon-edit" aria-hidden="true">
                  sign up
                </p>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path do %>
                <p class="glyphicon glyphicon-log-in" aria-hidden="true">
                  login
                </p>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="container">
        <div class="row">
          <div class="pull-right">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
